.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .carousel--item {
    flex: 0 32%;
    cursor: pointer;
    text-align: center;

    .carousel--item-img-wrapper {
      width: 313px;
      height: 289px;
      border: solid 1px #3E3E3E;
    }

    .carousel--item-title {
      text-align: center;
      font-size: 24px;
      color: #2A2A2A;
      padding: 20px;
      font-weight: 100;
    }
  }
}

.carousel-link {
  text-decoration: none;

  img {
    max-width: 313px;
  }
}

.carousel--item-role {
  font-weight: 100;
  font-size: 16px;
  color: #A8A8A8;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .carousel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    left: 20px;

    .carousel--item {
      flex: 0 32%;
      cursor: pointer;
      text-align: center;
      margin: 0 6px;

      .carousel--item-img-wrapper {
        width: 313px;
        height: 289px;
        border: solid 1px #3E3E3E;
      }

      .carousel--item-title {
        text-align: center;
        font-size: 24px;
        color: #2A2A2A;
        padding: 20px;
        font-weight: 100;
      }
    }
  }

  .carousel-link {
    text-decoration: none;

    img {
      max-width: 313px;
    }
  }

  .carousel--item-role {
    font-weight: 100;
    font-size: 16px;
    color: #A8A8A8;
    margin-bottom: 50px;
  }
}

.carousel--nav {
  text-align: center;
  width: 100%;
  height: 50px;

  .carousel--nav-item {
    width: 12px;
    height: 12px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;

    .carousel--nav-item-dot {
      width: 12px;
      height: 12px;
      background: #EFEFEF;
      border: solid 1px #D4D4D4;
      border-radius: 50%;
      display: block;

      &.active {
        background: #DB3056;
      }
    }
  }
}

.gallery-cell {
  width: 48%;
  height: 400px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 400px;
  font-size: 80px;
  color: white;
}
