<app-sidebar></app-sidebar>
<app-nav></app-nav>
<main class="contact">
  <div class="contact--content">
    <h1 class="contact--title">
      <span>Get in</span>
      <br/>
      <strong>&nbsp;&nbsp;&nbsp;&nbsp;Touch</strong>
      <span class="separator"></span>
    </h1>
    <p class="contact--alt-text">Or if you prefer</p>
    <h2 class="contact--sub-title">
      <a class="mailto-link" href="mailto:contact@maya-h2o.com">contact@maya-h2o.com</a>
    </h2>
  </div>
  <div class="contact--form">
    <form>
      <input [(ngModel)]="mailData.name" class="contact--form-input" type="text" placeholder="Name">
      <input [(ngModel)]="mailData.mail" class="contact--form-input" type="text" placeholder="Email">
      <textarea [(ngModel)]="mailData.message" class="contact--form-input" rows="4" cols="50" placeholder="Message"></textarea>
      <button class="contact--form-submit" (click)="sendMail()">SEND</button>
    </form>
  </div>
</main>
