<app-sidebar></app-sidebar>
<app-nav></app-nav>
<main class="project">
  <div class="project--title-and-role">
    <h1 class="project--title">
      <span>{{ projectData.projectTitle }}</span>
      <span class="separator"></span>
    </h1>
    <h2>{{ projectData.role }}</h2>
  </div>
  <div class="project--header">
    <div class="project--header-left">
      <p class="project--header-text" [innerHTML]="projectData.header.text"></p>
    </div>
    <div class="project--header-right">
      <img alt="{{ projectData.header.img }}" src="{{ 'assets/images/' + projectData.header.img }}">
    </div>
  </div>
  <div class="project--content">
    <section class="project--content-section" *ngFor="let section of projectData.sections">
      <div *ngIf="section.title" [innerHTML]="section.title"></div>
      <div class="project--content-section-text" *ngIf="section.text" [innerHTML]="section.text"></div>
      <div *ngIf="section.img" class="project--content-image">
        <img class="project--content-image-content" alt="{{ section.img }}" src="{{ 'assets/images/' + section.img }}">
      </div>
<!--      <div *ngIf="section.carousel">-->
<!--        <div *ngFor="let carouselImg of section.carousel" class="project&#45;&#45;content-image">-->
<!--          <img class="project&#45;&#45;content-image-content project&#45;&#45;content-image-content__carousel" alt="{{ carouselImg }}" src="{{ 'assets/images/' + carouselImg }}">-->
<!--        </div>-->
<!--      </div>-->
      <div *ngIf="section.carousel">
        <app-carousel
          [modeProjects]="false"
          [gallerySlides]="section.carousel"
          [galleryOptions]="galleryOptions"
        ></app-carousel>
      </div>
    </section>
  </div>
</main>
