@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slide-right__mobile {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@keyframes slide-right__mobile {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

.about {
  font-size: 26px;
  padding-top: 80px;
}

section.about--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;

  @media screen and (max-width: 992px) {
    flex-direction: column-reverse;
  }

  .about--top-title {
    display: flex;
    width: 200px;
    height: 500px;
    flex: 0 49%;
    line-height: 130%;
    align-items: center;

    @media screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 20px;

      .about--title {
        margin: 20px auto 0;
        text-align: center;
      }
    }
  }

  .about--top-picture {
    flex: 0 49%;
    text-align: center;
  }
}

section.about--resume {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  .about--resume-col-left {
    flex: 0 49%;

    .about--resume-col-left-experience {
      padding-bottom: 40px;
    }
  }

  .about--resume-col-right {
    flex: 0 49%;
  }
}

h2.about--resume-section-title {
  color: #DB3056;
  margin-bottom: 40px;
  font-weight: 100;
}

.separator {
  display: block;
  margin-top: 20px;
  width: 130px;
  height: 3px;
  border-bottom: solid 3px #DB3056;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @media screen and (max-width: 992px) {
    animation: slide-right__mobile 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

.about--experience {
  position: relative;
  margin: 20px;

  .about--experience-dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 2;
    background: #383838;
    top: 4px;
    left: -10px;
  }

  .about--experience-bar {
    position: absolute;
    border-left: solid 1px #383838;
    width: 1px;
    height: calc(100% + 14px);
    z-index: 1;
    top: 10px;
    left: 0;
  }

  &:first-child {
    .about--experience-dot {
      background: #DB3056;
    }
  }

  &:last-child {
    .about--experience-bar {
      display: none;
    }
  }

  .about--experience-item {
    padding: 3px 30px;
    position: relative;

    .about--experience-company {
      font-weight: bold;
      font-size: 20px;
      padding-bottom: 8px;
    }

    .about--experience-role {
      font-size: 20px;
      padding-bottom: 8px;
    }

    .about--experience-date {
      font-size: 18px;
      padding-bottom: 8px;
    }

    .about--experience-location {
      font-size: 15px;
      padding-bottom: 8px;

      .about--experience-location-text {
        color: #3E3E3E;
        font-weight: 100;
      }
    }
  }
}

.about--resume-more {
  padding: 6px 0;
  font-size: 16px;
}

.about--resume-more-else {
  padding: 6px 0;
  font-size: 16px;
  font-weight: 100;
  color: #3E3E3E;
  font-style: italic;
}

.about--resume-skills-img {
  max-width: 100%;
  margin-bottom: 40px;
}

.pinmap {
  margin-right: 6px;
}
