<app-sidebar></app-sidebar>
<app-nav></app-nav>
<main class="home">
  <section id="main" class="home--content">
    <h1 class="home--title">
      <span>Hi, I'm </span>
      <strong>Maya</strong>
      <br/>
      <strong>Amsterdam </strong>
      <span>based</span>
      <br/>
      <strong>UX/UI Designer</strong>
      <span class="separator separator__top"></span>
    </h1>
    <div class="home--carousel">
      <a routerLink="/project/1" routerLinkActive="active">
        <img src="assets/images/baseplayheader.png">
      </a>
    </div>
  </section>
<!--  <section class="overview home&#45;&#45;overview">-->
  <section id="overview" class="overview home--overview">
    <h2 class="home--overview-title">
      <span>Selected projects</span>
      <span class="separator"></span>
    </h2>
    <app-overview></app-overview>
  </section>
</main>
