@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes slide-right__mobile {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}

@keyframes slide-right__mobile {
  0% {
    //-webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    //-webkit-transform: translateX(50px);
    transform: translateX(calc(100%));
  }
}

.home {
  font-size: 26px;
}

.home--content {
  display: flex;
  justify-content: space-between;
  margin: 40px;

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  .home--title {
    display: inline;
    padding-top: 80px;
    width: 200px;
    height: 500px;
    flex: 0 49%;
    line-height: 130%;
    position: relative;
    z-index: 4;

    @media screen and (max-width: 992px) {
      width: 100%;
      padding-top: 0;
      text-align: center;
    }
  }

  .home--carousel {
    display: inline;
    width: 200px;
    height: 500px;
    flex: 0 49%;

    @media screen and (max-width: 992px) {
      width: 100%;
      padding: 40px 0;
      text-align: center;
    }

    img {
      width: 100%;

      @media screen and (max-width: 992px) {
        max-width: 400px;
      }
    }
  }
}

.home--overview {
  display: block;
  margin: 40px;
  padding-top: 80px;
  box-sizing: content-box;

  .home--overview-title {
    margin-bottom: 40px;
    position: relative;
    z-index: 4;
  }
}

.separator {
  display: block;
  margin-top: 20px;
  width: 130px;
  height: 3px;
  border-bottom: solid 3px #DB3056;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  @media screen and (max-width: 992px) {
    &.separator__top {
      animation: slide-right__mobile 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }
}
