<app-sidebar></app-sidebar>
<app-nav></app-nav>
<main class="home">
  <section id="main" class="home--content">
    <h1 class="home--title">
      <span>Hi, I'm </span>
      <strong>Maya</strong>
      <br/>
      <span>a </span><strong>UX Designer</strong>
      <br/>
      <span>based in </span>
      <strong>Amsterdam </strong>
      <br/>
      <span class="separator separator__top"></span>
    </h1>
    <div class="home--carousel">
      <app-carousel
        [modeProjects]="false"
      ></app-carousel>
    </div>
  </section>
<!--  <section class="overview home&#45;&#45;overview">-->
  <section id="overview" class="overview home--overview">
    <h2 class="home--overview-title">
      <span>Selected projects</span>
      <span class="separator"></span>
    </h2>
    <app-overview *ngIf="!isMobile"></app-overview>
    <app-carousel
      *ngIf="isMobile"
      [modeProjects]="true"
    ></app-carousel>
  </section>
</main>
